/* General Styles */
body {
    margin: 0;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
    display: flex; /* Use Flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

/* Header Styles */
header h1 {
    font-weight: bold;
    color:rgb(113, 184, 184);
    text-align: center;
}

/* Image Styles */
.celebrity-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid #333;
}

/* Text Styles */
p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    text-align: center;
}

/* Button Styles */
button.learn-more {
    background-color: #8bcfa5;
    border: none;
    padding: 5px;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

/* Button Styles when hover over */
button.learn-more:hover {
    background-color: aqua;
}

/* Footer Styles */
footer {
    font-size: 0.8em;
    text-align: center;
}
